
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Ubuntu&display=swap');


*{
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding:0;
}
@media screen and (min-width:813px){
	.body {
		margin: 0;
		padding-top: 80px;
		gap: 20px;
	}

	.all__body{
		display: flex;
		flex-direction: column;
		margin-top: 1em; /*Con esto logré separar el header del primer titulo */
		gap: 80px;
	}


	.header{
		display: flex; /*esto para el flexmode*/
		justify-content: space-between; /*todos alineados por igual espacio */
		/* padding: 30px 10%; */
		height: 80px;
		width: 100%;
		position: fixed;
		align-items: baseline;
		left: 0;
		top:0;
		color: #ffffff;
		background-color: #242423;
	}

	.header__menu{
		display: flex;
		align-items: center;
		justify-content:flex-end;
		color: #ffffff;
		width: 90%;
		height: 100%;
		font-size: 70%;
		/* border: 1px solid #ffffff; */
	}


	.header__logo-resize{
		height: 5rem;
		width: 5rem;
		/* border: 1px solid rgba(0, 192, 134, 0.678); */
	}
	.header__logo{
		display: flex;
		gap: 20px;
		flex-direction: row;
		cursor:pointer;
		align-self: center;
		height: 100%;
		width: 40em;
	}

	.header_phrase{
		font-size: 1.2rem;
		align-self: center;
	}
	.header__menu li {
		display: inline-block; /*Esto hace que los links esten horizontal*/
		padding: 0px 5px;
		font-size: 0.9rem;
		/* border: 1px solid #ffffff;		 */
	}

	.header__menu ul {
		display: flex;
		gap: 10px;
	}

	.header__links{
		color: #ffffff;;
		text-decoration: none;
		position:relative;	
	}		
		/* border: 1px solid red; */
	

	.header__links::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		border-radius: 4px;
		background-color: #FED766;
		bottom: 0;
		left: 0;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}
	.header__links:hover::before{
		/* border-bottom:1px solid #FED766; */
		transform-origin: left;
		transform: scaleX(1);
		}

	.services{
		display: flex;
		flex-direction:column;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 50px;
	}
	.services__title{
		display: inline-block;
		align-self: center;
		border-bottom: 4px solid #FED766;
	}

	.services__links{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		max-width: 1300px;
		min-width: 812px;
		gap: 2%;
	}

	.services__images {
		height: 20em;
		width: 20em;
		padding: 0.8em;
		border-radius: 50%;

	}

	.services__Cards{
		flex: 0 0 30%;
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		border:1px solid #FED766;
		border-radius: 5%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: all 0.3s linear;
	}

	.services__Cards:hover{
		transform: scale(1.1, 1.1);
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.cards__content{
		display: flex;
		flex-direction: column;
		left:0;
		bottom:0;
		padding: 1rem;
		text-align: justify;
		text-justify: inter-word;
		gap:1em;
	}

	.services__links__titles{
		display: flex;
		justify-content: center;
		transition: all 0.3s linear;
	}
	.index__ubication{
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 50px;
	}
	.index__location{
		align-self: flex-start;
		order: 2;
	}
	.index__map{
		order: 1;
		border-radius: 10px;
		align-self: center;
		height: 300px;
		width: 300px;
	}

	.contacts{
		display:flex;
		flex-direction: column;
		justify-content: center;
		margin-top:auto;
		left: 0;
		bottom: 0;
		width: 100%;
		gap:10px;
	}

	.contacts__title{
		align-self: center;
	}

	.contacts__divLinks{
		display: flex;
		justify-content: center;
		gap: 5px;
	}

	.contacts__images{
		height: 50px;
		width: 50px;
	}

	.contacts__Copyright{
		display: flex;
		justify-content: center;
		/* border: 1px solid red; */
	}

	.whoweare{
		display: flex;
		height: 100vh;
		align-items: center;
	}

	.whoweare__title{
		align-self: center;
		justify-content: center;
	}

	.whoweare__pre{
		align-self: center;
		justify-content: center;
	}

	/*----------------- CONTACTANOSSSS ----------------------------*/
	.contacts_body{
		display: flex;
		gap: 20px;
	}

	.contact_form{  
		width: 460px; 
		height: auto;
		margin: 80px auto;
		border-radius: 20px;
		margin-top: 100px; 
		padding-top: 30px;
		padding-bottom: 20px;  
		background-color: #FED766; 
		padding-left: 30px; 
	}


	input{
		background-color: #fbfbfb; 
		width: 408px; 
		height: 40px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #ffffff; 
		margin-top: 10px;  
		padding-left: 10px;
		margin-bottom: 20px; 
	}


	textarea{
		background-color: #fbfbfb; 
		width: 405px; 
		height: 150px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #ffffff; 
		margin-top: 10px;  
		padding-left: 10px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	}


	label{
		display: block; 
	}


	button{
		height: 45px; 
		padding-left: 5px;
		padding-right: 5px;   
		margin-bottom: 20px; 
		margin-top: 10px;   
		text-transform: uppercase;
		background-color: #ffffff; 
		border-color: #ffffff; 
		border-style: solid; 
		border-radius: 10px;  
		width: 420px;   
		cursor: pointer;
	}


	button p{
		color: rgb(0, 0, 0); 
	}


	span{
		color: #ff0000; 
	}


	.aviso{
		font-size: 13px;  
		color: #0e0e0e;  
	}


	.formulario_title_1{
		font-size: 35px;  
		padding-bottom: 20px; 
		color: #000000;
	}


	.formulario_title_2{
		font-size: 16px; 
		padding-bottom: 30px;
		color: #0e0e0e;   
	}


	.contact_p{
		font-size: 14px; 
		color: #0e0e0e; 
	}

	.serviceSection{
		display: flex;
	}

/*---------------PAGINA SERVICICIOS-----------------*/
	.services__main{
		width: 90%;
		display: grid;
		justify-content:center;
		grid-template-rows: repeat(3,1fr);
		grid-template-columns:repeat(2,1fr);
		gap:2em;
		padding: 5.5em 2% 1em; /*Arriba, derecha-izquierda, abajo*/
		/* resize: auto; */
	}
	.services__main img{
		height:	25rem;
		width: 25rem;
		border-radius: 5%;	
	}
	.info_{
		border:1px solid #FED766;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		border-radius: 2rem;
	}
	.school__article{
		grid-column:2/3;
		grid-row: 1/2;
		display: flex;
		flex-direction: column;
		justify-content:center;
		text-align: justify;
		align-items:center;
	}
	.advisory__article{
		grid-column:2/3;
		grid-row: 2/3;
		display: flex;
		flex-direction: column;
		justify-content:center;
		text-align: justify;
		align-items:center;
	}
	.transfer__article{
		grid-column:2/3;
		grid-row: 3/4;
		display: flex;
		flex-direction: column;
		justify-content:center;
		text-align: justify;
		align-items:center;
	}
	.services__main p {
		padding: 2em;
	}
	.school{
		grid-column:1/2;
		grid-row: 1/2;
		display: flex;
		justify-content:end;
	}
	.advisory{
		grid-column:1/2;
		grid-row: 2/3;
		display: flex;
		justify-content:end;
	}
	.transfer{
		grid-column:1/2;
		grid-row: 3/4;
		display: flex;
		justify-content:end;
	}
}


/*---------------------RESPONSIVE-------------------*/
@media screen and (max-width:812px) {
	.header{
		display:flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		border: 1px solid black;
		height: 80px;
		width: 100%;
		position: fixed;
		left: 0;
		top:0;
		color: #ffffff;
		background-color: #242423;
		gap: 0.5em;
	}
	.header__menu li {  
		display: inline-block; /*Esto hace que los links esten horizontal*/
		/* padding: 0px 1rem; */
		justify-content: center;
		align-items: center;
		padding: 0px 0.5rem;
		font-size: 0.9rem;
		/* border: 1px solid rgb(0, 0, 0); */
	}

	.header__logo-resize{
		height: 5rem;
		width: 5rem;
	}
	.header__logo{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header_phrase{
		display: flex;
		flex-direction: row;
		font-size: 0.9rem;
	}
	.header__links{
		color: #ffffff;;
		text-decoration: none;
		font-size: 0.82em;
		/* border: 1px solid red; */
	}
	.services{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 6em;
		gap: 1em;
	}
	.services__Cards{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.services__links{
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2em;
	}
	.services__images {
		height: 15em;
		width: 15em;
		border-radius: 50%;
		text-align: center;
		border: 5px solid #FED766;
	}
	.cards__content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.8em;
	}

	.index__ubication{
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		padding-top: 2em;
		gap: 2em;
	}
	.index__location{
		order:1;
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items: center;

	}

	.index__map{
		order:2;
		width: 10em;
		height:10em;
		border-radius: 5%;
		
	}

	.contacts{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 2em;
	}
	.contacts__images{
		width: 2em;
		height: 2em;
	}
	.contacts__Copyright{
		font-size: 50%;
	}

	/*CONTACTS SERVICES*/
	.contacts_body{
		display: flex;
		gap: 20px;
	}

	.contact_form{  
		width: 460px; 
		height: auto;
		margin: 80px auto;
		border-radius: 20px;  
		padding-top: 30px;
		padding-bottom: 20px;  
		background-color: #FED766; 
		padding-left: 30px; 
	}


	input{
		background-color: #fbfbfb; 
		width: 408px; 
		height: 40px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #ffffff; 
		margin-top: 10px;  
		padding-left: 10px;
		margin-bottom: 20px; 
	}


	textarea{
		background-color: #fbfbfb; 
		width: 405px; 
		height: 150px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: #ffffff; 
		margin-top: 10px;  
		padding-left: 10px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	}


	label{
		display: block; 
	}


	button{
		height: 45px; 
		padding-left: 5px;
		padding-right: 5px;   
		margin-bottom: 20px; 
		margin-top: 10px;   
		text-transform: uppercase;
		background-color: #ffffff; 
		border-color: #ffffff; 
		border-style: solid; 
		border-radius: 10px;  
		width: 420px;   
		cursor: pointer;
	}


	button p{
		color: rgb(0, 0, 0); 
	}


	span{
		color: #ff0000; 
	}


	.aviso{
		font-size: 13px;  
		color: #0e0e0e;  
	}


	.formulario_title_1{
		font-size: 35px;  
		padding-bottom: 20px; 
		color: #000000;
	}


	.formulario_title_2{
		font-size: 16px; 
		padding-bottom: 30px;
		color: #0e0e0e;   
	}


	.contact_p{
		font-size: 14px; 
		color: #0e0e0e; 
	}

	.serviceSection{
		display: flex;
	}
	/*SERVICES PAGES*/

	.services__main{
		width: 100%;
		display: grid;
		grid-template-rows: repeat(6,0.8fr);
		grid-template-columns:repeat(1,1fr);
		align-items: flex-start;
		justify-content: center;
		gap:1em; 
		padding: 5.5em 2% 1em; /*Arriba, derecha-izquierda, abajo*/
		/* resize: auto; */
	}

	.school{
		grid-row: 1/2;
		background-color: #242423;
		height:	20rem;
		width: 20rem;
		border-radius: 5%;
	}
	.school__article{
		grid-row: 2/3;
	}
	.advisory{
		grid-row: 3/4;
		background-color: #242423;
		height:	20rem;
		width: 20rem;
		border-radius: 5%;
	}
	.advisory__article{
		grid-row: 4/5;
	}
	
	.transfer{
		grid-row: 5/6;
		background-color: #242423;
		height:	20rem;
		width: 20rem;
		border-radius: 5%;
	}
	.transfer__article{
		grid-row: 6/7;
	}
	.withoutInformation{
		display: none;
	}
}