@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Ubuntu&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 882px) {
  .body {
    padding-top: 80px;
    gap: 20px; }
    .body .all__body {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      /*Con esto logré separar el header del primer titulo */
      gap: 4em;
      padding-bottom: 3em; }
  .header {
    display: flex;
    /*esto para el flexmode*/
    justify-content: space-between;
    /*todos alineados por igual espacio */
    /* padding: 30px 10%; */
    height: 80px;
    width: 100%;
    position: fixed;
    align-items: baseline;
    left: 0;
    top: 0;
    color: #ffffff;
    z-index: 1;
    background-color: #242423; }
    .header__logo {
      display: flex;
      gap: 20px;
      flex-direction: row;
      cursor: pointer;
      align-self: center;
      height: 100%;
      width: 40em; }
    .header__logo-resize {
      height: 5rem;
      width: 5rem;
      /* border: 1px solid rgba(0, 192, 134, 0.678); */ }
    .header__phrase {
      font-size: 1.2rem;
      align-self: center; }
    .header__list {
      display: inline-block;
      /*Esto hace que los links esten horizontal*/
      padding: 0px 5px;
      font-size: 0.9rem; }
    .header__links {
      color: #ffffff;
      text-decoration: none;
      position: relative; }
    .header__links::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #FED766;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out; }
    .header__links:hover::before {
      /* border-bottom:1px solid #FED766; */
      transform-origin: left;
      transform: scaleX(1); }
    .header .navbar {
      display: flex;
      align-items: center;
      padding-right: 2em;
      justify-content: flex-end;
      width: 90%;
      height: 100%;
      font-size: 70%; }
    .header .hamburguer {
      display: none;
      cursor: pointer; }
    .header .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    gap: 10px; }
    .footer__title {
      align-self: center; }
    .footer__divLinks {
      display: flex;
      justify-content: center;
      gap: 5px; }
    .footer__images {
      height: 50px;
      width: 50px; }
    .footer__copyright {
      display: flex;
      justify-content: center;
      /* border: 1px solid red; */ }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px; }
    .services__title {
      display: inline-block;
      align-self: center;
      border-bottom: 2px solid #FED766; }
    .services__links {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-width: 1300px;
      min-width: 812px;
      gap: 50px; }
      .services__links .services__Cards {
        flex: 0 0 30%;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #FED766;
        border-radius: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.3s linear; }
      .services__links .cards__content {
        display: flex;
        flex-direction: column;
        left: 0;
        bottom: 0;
        padding: 1rem;
        text-align: justify;
        text-justify: inter-word;
        gap: 1em; }
      .services__links .services__images {
        height: 20em;
        width: 20em;
        padding: 0.8em;
        border-radius: 50%; }
      .services__links .services__Cards:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em; }
    .index__location {
      align-self: center;
      justify-content: center;
      order: 1; }
    .index__map {
      order: 2;
      border-radius: 10px;
      align-self: center;
      max-width: 1300px;
      min-width: 812px;
      height: 300px;
      width: 90%;
      border: none; }
  .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 20px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #FED766;
    padding-left: 30px; }
    .contact_form input {
      background-color: #fbfbfb;
      width: 408px;
      height: 40px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #ffffff;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px; }
    .contact_form textarea {
      background-color: #fbfbfb;
      width: 405px;
      height: 150px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #ffffff;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      padding-top: 15px; }
    .contact_form label {
      display: block; }
    .contact_form button {
      height: 45px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 20px;
      margin-top: 10px;
      text-transform: uppercase;
      background-color: #ffffff;
      border-color: #ffffff;
      border-style: solid;
      border-radius: 10px;
      width: 420px;
      cursor: pointer; }
    .contact_form button p {
      color: black; }
    .contact_form span {
      color: #ff0000; }
    .contact_form .aviso {
      font-size: 13px;
      color: #0e0e0e; }
    .contact_form .formulario_title_1 {
      font-size: 35px;
      padding-bottom: 20px;
      color: #000000; }
    .contact_form .formulario_title_2 {
      font-size: 16px;
      padding-bottom: 30px;
      color: #0e0e0e; }
    .contact_form .contact_p {
      font-size: 14px;
      color: #0e0e0e; }
    .contact_form .serviceSection {
      display: flex; }
  .school {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 4em;
    max-width: 1300px;
    min-width: 812px;
    max-width: 100%;
    gap: 2em; }
    .school__card {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2em;
      border: 1px solid #FED766;
      padding: 0.5em;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
      .school__card__img {
        order: 1;
        height: 30em;
        width: 30em;
        border-radius: 5%; }
      .school__card__content {
        order: 2;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        text-align: justify;
        max-width: 20em;
        text-justify: inter-word;
        gap: 0.5em; } }

@media screen and (max-width: 881px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #242423;
    gap: 20px; }
    .header__menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      background-color: #242423;
      right: -100%;
      top: 75px;
      /*Bajar el menu*/
      width: 100%;
      transition: 0.3s; }
    .header__list {
      text-decoration: none;
      display: inline-block;
      height: 20px;
      margin: 5px 0; }
    .header__menu.active {
      display: flex;
      right: 0; }
    .header__menu.active .header__list {
      display: flex;
      font-size: 1rem;
      justify-content: center; }
    .header__logo-resize {
      height: 5rem;
      width: 5rem; }
    .header__logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .header__phrase {
      display: flex;
      flex-direction: row;
      color: white;
      font-size: 1.2rem; }
    .header__links {
      color: #ffffff;
      text-decoration: none;
      font-size: 0.82em;
      /* border: 1px solid red; */ }
    .header .hamburguer {
      display: block; }
    .header .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px 10px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white; }
    .header .hamburguer.active .bar:nth-child(2) {
      opacity: 0; }
    .header .hamburguer.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg); }
    .header .hamburguer.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg); }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em; }
    .footer__images {
      width: 2em;
      height: 2em; }
    .footer__copyright {
      font-size: 80%; }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    gap: 1em; }
    .services__Cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 80%;
      max-width: 80%;
      border-radius: 5px;
      border: 1px solid #FED766;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .services__links {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2em; }
    .services__images {
      height: 15em;
      width: 15em;
      border-radius: 50%;
      padding: 0.8em;
      text-align: center; }
    .services .cards__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      align-items: center;
      text-align: justify;
      /*justify*/
      text-justify: inter-word;
      gap: 1em;
      padding: 1em; }
  .index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    gap: 2em; }
    .index .index__location {
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .index .index__map {
      order: 2;
      width: 80%;
      height: 15em;
      border-radius: 5px;
      border: none; }
  .contact_form {
    width: 20em;
    height: auto;
    margin: 8em auto 2em;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #FED766;
    padding: 30px; }
    .contact_form input {
      background-color: #fbfbfb;
      width: 20em;
      height: 3em;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #ffffff;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px; }
    .contact_form textarea {
      background-color: #fbfbfb;
      width: 16.5em;
      height: 10em;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #ffffff;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px; }
    .contact_form label {
      display: block; }
    .contact_form button {
      height: 3em;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 20px;
      margin-top: 10px;
      text-transform: uppercase;
      background-color: #ffffff;
      border-color: #ffffff;
      border-style: solid;
      border-radius: 10px;
      width: 20em;
      cursor: pointer; }
    .contact_form button p {
      color: black; }
    .contact_form span {
      color: #ff0000; }
    .contact_form .aviso {
      font-size: 13px;
      color: #0e0e0e; }
    .contact_form .formulario_title_1 {
      font-size: 35px;
      padding-bottom: 20px;
      color: #000000; }
    .contact_form .formulario_title_2 {
      font-size: 16px;
      padding-bottom: 30px;
      color: #0e0e0e; }
    .contact_form .contact_p {
      font-size: 14px;
      color: #0e0e0e; }
  /*SERVICES PAGES*/
  .services__main {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    padding: 5.5em 2% 1em;
    /*Arriba, derecha-izquierda, abajo*/
    /* resize: auto; */ }
    .services__main .info_ {
      padding: 2px;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      align-items: center; }
    .services__main .school {
      grid-row: 1/2;
      height: 100%;
      width: 100%;
      border-radius: 5%; }
    .services__main .advisory {
      grid-row: 2/3;
      height: 100%;
      width: 100%;
      border-radius: 5%; }
    .services__main .transfer {
      grid-row: 3/4;
      height: 100%;
      width: 100%;
      border-radius: 5%; }
    .services__main .school__article {
      grid-column: 2/3; }
    .services__main .advisory__article {
      grid-row: 2/3;
      grid-column: 2/3; }
    .services__main .transfer__article {
      grid-column: 2/3;
      grid-row: 3/4; }
    .services__main .pages__services__images {
      width: 100%;
      height: 100%;
      border-radius: 5%; }
  .school {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    gap: 2em; }
    .school__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2em;
      border: 1px solid #FED766;
      padding: 0.5em;
      max-width: 90%;
      min-width: 80%;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
      .school__card__img {
        order: 1;
        height: 90%;
        width: 90%;
        border-radius: 5%; }
      .school__card__content {
        order: 2;
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: justify;
        max-width: 20em;
        text-justify: inter-word;
        gap: 0.5em; } }
