// Externos 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Ubuntu&display=swap');

// Misc
@import './misc/normalize';
@import './misc/variable';
@import './misc/animations';


@media screen and (min-width:813px){
//partialss
.body {
    padding-top: 80px;
    gap: 20px;
}

.all__body{
    display: flex;
    flex-direction: column;
    margin-top: 1em; /*Con esto logré separar el header del primer titulo */
    gap: 80px;
}
@import './partials/header';
@import './partials/footer';

// Pages
@import './pages/home';
@import './pages/Contactanos';
@import './pages/servicios';
@import './pages/sobreNosotros';
@import './pages/ubicacion';
}

@media screen and (max-width:812px){
//partialss
@import './partials/header_responsive';
@import './partials/footer_responsive';

// Pages
@import './pages_responsive/home_rp';
@import './pages_responsive/Contactanos_rp';
@import './pages_responsive/servicios_rp';
@import './pages_responsive/sobreNosotros_rp';
@import './pages_responsive/ubicacion_rp';
}


