
    .contacts{
		display:flex;
		flex-direction: column;
		justify-content: center;
		margin-top:auto;
		left: 0;
		bottom: 0;
		width: 100%;
		gap:10px;
	
        .contacts__title{
            align-self: center;
        }

        .contacts__divLinks{
            display: flex;
            justify-content: center;
            gap: 5px;
        }

        .contacts__images{
            height: 50px;
            width: 50px;
        }

        .contacts__Copyright{
            display: flex;
            justify-content: center;
            /* border: 1px solid red; */
        }
    }

