
    .footer{
		display:flex;
		flex-direction: column;
		justify-content: center;
		margin-top:auto;
		left: 0;
		bottom: 0;  
		width: 100%;
		gap:10px;
	
        &__title{
            align-self: center;
        }

        &__divLinks{
            display: flex;
            justify-content: center;
            gap: 5px;
        }

        &__images{
            height: 50px;
            width: 50px;
        }

        &__Copyright{
            display: flex;
            justify-content: center;
            /* border: 1px solid red; */
        }
    }

