.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;

    &__images{
        width: 2em;
        height: 2em;
    }
    &__copyright{
        font-size: 80%;
    }
}

