.header{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    background-color: #242423;
    gap: 20px;

    &__menu{
        display:flex;
        flex-direction: column;
        position: fixed;
        background-color:#242423;
        right: -100%;
        top:75px; /*Bajar el menu*/
        width: 100%;
        transition: 0.3s;
        
    }

    &__list{
        text-decoration: none;
        display: inline-block;
        height: 20px;
        margin: 5px 0;
    }
    &__menu.active{
        // top: 75px;
        display: flex;
        right:0;
    }
    &__menu.active .header__list{
        // top: 75px;
        display: flex;
        font-size: 1rem;
        justify-content: center;
    }
    &__logo-resize{
        height: 5rem;
        width: 5rem;
    }
    &__logo{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    
    &__phrase{
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 1.2rem;
    }
    &__links{
        color: #ffffff;;
        text-decoration: none;
        font-size: 0.82em;
        /* border: 1px solid red; */
    }

    .hamburguer{
        display: block;
        
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 10px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}




