

.header{
    display: flex; /*esto para el flexmode*/
    justify-content: space-between; /*todos alineados por igual espacio */
    /* padding: 30px 10%; */
    height: 80px;
    width: 100%;
    position: fixed;
    align-items: baseline;
    left: 0;
    top:0;
    color: #ffffff;
    z-index: 1;
    background-color: #242423;
    
    .navbar{
		display: flex;
		align-items: center;
		justify-content:flex-end;
		width: 90%;
		height: 100%;
		font-size: 70%;
		/* border: 1px solid #ffffff; */
	}
    .header__logo{
        display: flex;
        gap: 20px;
        flex-direction: row;
        cursor:pointer;
        align-self: center;
        height: 100%;
        width: 40em;
    }

    .header__logo-resize{
        height: 5rem;
        width: 5rem;
        /* border: 1px solid rgba(0, 192, 134, 0.678); */
    }
    .header__phrase{
        font-size: 1.2rem;
        align-self: center;
    }
    
    .header__list {
        display: inline-block; /*Esto hace que los links esten horizontal*/
        padding: 0px 5px;
        font-size: 0.9rem;
        /* border: 1px solid #ffffff;		 */
    }
    .header__links{
        color: #ffffff;;
        text-decoration: none;
        position:relative;	
    }
    .header__links::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #FED766;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }
    .header__links:hover::before{
        /* border-bottom:1px solid #FED766; */
        transform-origin: left;
        transform: scaleX(1);
    }
    .hamburguer{
        display: none;
        cursor: pointer;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}


