.school{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 4em;
    max-width: 1300px;
    min-width: 812px;
    max-width: 100%;
    gap:2em;

    &__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:2em;
        border: 1px solid #FED766;
        padding: 0.5em;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        

        &__img
        {
            order:1;
            height: 30em;
            width: 30em;
            border-radius: 5%;
        }
        &__content{
            order:2;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            text-align: justify;
            max-width: 20em;
            text-justify: inter-word;
            gap:0.5em;
        }

    }
}