.ubicacionPg{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding-top: 6em;
    border:1px solid red;
    gap:1em;
    .ubicacion__map{
        border: none;
        width: 90%;
        height: 15em;
        border-radius: 5px;
    }
}