// .contacts_body{
//     display: flex;
//     gap: 20px;
// }

.contact_form{  
    width: 20em; 
    height: auto;
    margin:8em auto 2em;
    border-radius: 20px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color:map-get($color , c_yellow); 
    padding: 30px;

    input{
        background-color:map-get($color , c_white); 
        width: 20em; 
        height: 3em; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: map-get($color , c_white); 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
    }
    
    textarea{
        background-color: map-get($color , c_white); 
        width: 16.5em; 
        height: 10em; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color:map-get($color , c_white); 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px;   
    }
    
    
    label{
        display: block; 
    }
    
    
    button{
        height: 3em; 
        padding-left: 5px;
        padding-right: 5px;   
        margin-bottom: 20px; 
        margin-top: 10px;   
        text-transform: uppercase;
        background-color: map-get($color , c_white); 
        border-color:map-get($color , c_white); 
        border-style: solid; 
        border-radius: 10px;  
        width: 20em;   
        cursor: pointer;
    }
    
    
    button p{
        color: map-get($color , c_black); 
    }
    
    
    span{
        color:map-get($color , c_red); 
    }
    
    
    .aviso{
        font-size: 13px;  
        color: map-get($color , c_black);  
    }
    
    
    .formulario_title_1{
        font-size: 35px;  
        padding-bottom: 20px; 
        color:map-get($color , c_black);
    }
    
    
    .formulario_title_2{
        font-size: 16px; 
        padding-bottom: 30px;
        color: map-get($color , c_black);   
    }
    
    
    .contact_p{
        font-size: 14px; 
        color:map-get($color , c_black); 
    }
}


