.servicesMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 4em;
    width: 100%;
    gap:2em;
    
    &__text {
        display: flex;
        flex-direction: column;
        // align-self: flex-start;
        width: 90%;
        gap:1em;
    }
    &__text p{
        // align-self: flex-start;
        text-align: justify;
        text-justify: inter-word;
    }
    &__refuerzos{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        justify-content: center;
        align-items: center;
        gap: 1em;
        
        &__images{
            height: 90%;
            width: 90%;
            border-radius: 5px;
        }
    }
    &__types{
        display: flex;
        flex-direction: row;
        width:90%;
        justify-content: center;
        gap: 1em;
    }
}